<template>
  <div id="app">
    <h1>DevApp</h1>
    <button @click="handleAddTenRowClick">Add 10 Row</button>
    <button @click="$refs.list.scrollToTop()">ScrollToTop</button>
    <button @click="$refs.list.scrollToBottom()">ScrollToBottom</button>
    <div class="App__list" :class="{ '--wrapped': wrapped }">
      <VuePerfectList
        ref="list"
        :data="list"
        :virtual-scroller-option="{
          defaultItemSize: 30,
          remainCount: 15,
          throttleWait: 120,
        }"
        :scrollTrackerOption="{
          debounceEventWait: 120,
        }"
        @reachTop="handleScrollReachTop"
        @reachBottom="handleScrollReachBottom">
        <template v-slot="{ data, index, updateSize }">
          <Item
            :key="`item-${data.id}`"
            :data="data"
            @click.native="handleItemClick(index)"
            @update-size="updateSize">
          </Item>
        </template>
      </VuePerfectList>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator';
import { genMessage } from '../utils/data';
import Item from './Item.vue';

@Component({
  components: {
    Item,
  },
})
export default class DevApp extends Vue {
  list = Array.from(Array(1000).keys()).map(genMessage);
  // list = [];

  wrapped: boolean = false;

  handleItemClick(index: number) {
    this.list.splice(index, 1, genMessage());
  }

  handleAddTenRowClick() {
    this.list.splice(this.list.length, 0, ...Array.from(Array(10).keys()).map(genMessage));
  }

  handleScrollReachTop() {
    console.log('reach on top');
  }

  handleScrollReachBottom() {
    console.log('reach on bottom');
  }
}
</script>

<style lang="scss">
.App__list {
  &.--wrapped {
    margin: 30px;
    height: 500px;
    overflow-y: scroll;
  }
}
</style>