<template>
  <div class="Item">
    <img class="Item__avatar"
      :src="data.avatar">
    <div class="Item__message">
      <span>{{ data.message }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator';

@Component({
  mounted() {
    const { height } = (<HTMLElement>this.$el).getBoundingClientRect();
    this.$emit('update-size', height);
  }
})
export default class Item extends Vue {
  @Prop({ type: Object })
  data!: {
    avatar: string;
    message: string;
  };

  @Watch('data')
  handleDataChange() {
    this.$nextTick(() => {
      const { height } = (<HTMLElement>this.$el).getBoundingClientRect();
      this.$emit('update-size', height);
    })
  }
}
</script>

<style lang="scss">
.Item {
  border-bottom: 1px solid gray;
  box-sizing: 'border-box';
  padding: 16px 12px;

  .Item__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  .Item__message {
    padding: 12px 0px;
  }
}
</style>